<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">Tekniva - Uni5</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
              <a routerLink="" class="nav-item nav-link active">Tableau de Board</a>
              <a routerLink="facture" class="nav-item nav-link">Factures</a>
              <a routerLink="article" class="nav-item nav-link">Articles</a>
              <a routerLink="client" class="nav-item nav-link">Clients</a>


          </div>
          <form class="d-flex">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link">Login</a>
          </div>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
